p {
    font-size: 16px;
}
table {
    margin-left: 10px;
}
.tex {
    font-size: 15px;
}
.bg-1 {
    background-color: #009688;
    color: #ffffff;
}
.bg-2 {
    background-color: #B0BEC5;
    margin-top: 80px;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.text-centre {
    text-align: center;
    padding-bottom: 8px;
}
.text-green {
    color: #009688;
}
.text-greenn {
    background-color: #009688;
    color: #fff;
}
.text-greennn {
    background-color: #FF9800;
    color: #fff;
}
.text-red {
    color: #F44336;
}
.text-redd {
    background-color: #F44336;
    color: #fff;
}
.error {
    font-size: 14px;
    font-family: sans-serif;
    color: #F44336;
}
.forms {
    background-color: #26A69A;
    margin: 0px 50px 20px 50px;
    padding: 1px 8px 8px 8px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);
}
.text-miring {
	font-style: italic;
}
/*#save, #clear {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);
}*/
button:hover, input:hover, select:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);
}